@page "/home"
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Home</PageTitle>
<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <Authorized>
        <div class="card-header">
            Welcome
        @context.User.Claims.Where(f => f.Type == ClaimTypes.Name).Last().Value,
    You can now join the chat ...
    </div>
    </Authorized>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>